---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Card from '../../layouts/Cardsq.astro';

const res = await fetch("https://contenido.beatdigital.mx/wp-json/wp/v2/posts?_embed&per_page=9&_fields=title,slug,yoast_head_json,categories&categories=505");
const posts = await res.json();



---
<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="News" description={SITE_DESCRIPTION} />
		<meta charset="utf-8"/>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		
		<main>
            <div class="container cards my-12 mx-auto px-4">
				<h1 class="audiowide neon-rosa text-center md:text-left pt-4 font-bold text-4xl md:text-5xl lg:text-4xl xl:text-5xl">Beat Trends</h1>
                <section class="grid gap-4 grid-cols-1 sm:grid-cols-3 lg:grid-cols-3 md:gap-16 xl:gap-16">
                    {
                        posts.map((post:any) => ( 
                        <>
                        <Card {post} />
                        </>
                        ))
                    }
                </section>
                <div class="m-auto text-center">
                    <a href="/beat-trends/2" class="text-white hover:text-black">
                        <button class="ver-mas group relative h-8 w-36 m-4 overflow-hidden rounded-xl bg-[rgba(52,52,52,0.2)] hover:bg-white border-2 border-white uppercase text-xs poppins font-bold tracking-[3px]">
                            <span>Siguiente</span>
                        </button>
                    </a>
                </div>
            </div>
		</main>
		<Footer />
	</body>
</html>
