---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { Tabs } from 'astro-tabs';
import BarNrm from '../../components/BarNrm.astro';

const res = await fetch("https://contenido.beatdigital.mx/wp-json/wp/v2/posts?_embed&per_page=80&_fields=title,content,acf,yoast_head_json&categories=515&filter[orderby]=acf[inicio]&order=asc");
const posts = await res.json();

posts.sort(function(a, b){
    //return a.acf.hora_inicio < b.acf.hora_inicio;    
    return ((a.acf.hora_inicio > b.acf.hora_inicio) ? 1 : (a.acf.hora_inicio < b.acf.hora_inicio) ? -1 : 0);
});
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="En Vivo" description={SITE_DESCRIPTION} />
		<meta charset="utf-8"/>
	</head>
	<body>
        <BarNrm />
		<Header title={SITE_TITLE} />
		
		<main id="envivo">
            <div class=" mx-auto ">				
                <div class="flex flex-col lg:flex-row">
                    <div class="banner-prog">
                        <img src="" />
                    </div>
                    <div class="info-envivo">
                        <div class="envivo-prog"></div>
                        <div class="envivo-loc"></div>
                        <div class="envivo-desc"></div>
                    </div>                    
                </div>

                <div class="programas">
                    <div class="prog-now">
                        <div class="envivo-title">En vivo: <span class="envivo-now"></span> </div>
                        <div class="envivo-prog-tab"></div>
                        <div class="envivo-loc-tab"></div>
                    </div> 

                    <div class="prog-next">
                        <div class="siguiente-title">Siguiente: <span class="envivo-next"></span> </div>
                        <div class="envivo-prog-next-tab"></div>
                        <div class="envivo-loc-next-tab"></div>
                    </div>
                    
                        <div class="prog-all">                            
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="28" height="28" stroke-width="1"> <path d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3"></path> <path d="M16 3v4"></path> <path d="M8 3v4"></path> <path d="M4 11h10"></path> <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path> <path d="M18 16.5v1.5l.5 .5"></path> </svg> 
                                    <a href="/programacion"><span>Ver toda la programación</span></a>                               
                        </div>
                    
                </div>
            </div>
		</main>
		<Footer />
	</body>
</html>

<style>
    .programas{display:flex; width: 100%;}
    .prog-now{width: 33%; padding: 20px;}
    .prog-next{width: 33%; background: #201e1e; padding: 20px; border-right: 1px solid white}
    .prog-all{width: 34%; background: #201e1e; padding: 20px; ; display: flex; gap: 10px; color:#ffaa1f;}
    
    .banner-prog {width: 35%; padding:20px;}
    .banner-prog img { border-radius: 30px;}
    .envivo-prog {   font-size: 2.5rem; }
    .info-envivo {   padding: 40px; }
    .envivo-title, .siguiente-title {   color:#fb125b; font-weight: bold; font-size: 85%;}
    .envivo-title span, .siguiente-title span {color:white; font-weight: normal; }
</style>