---
import PreSiteHeader from '../components/PreSiteHeader.astro';
import SuperLeader from '../components/SuperLeader.astro';
---
<PreSiteHeader />
<div class="w-full bg-neutral-800"> <SuperLeader />     </div>