---
---

<div class="double-box table mx-auto text-center w-[300px] h-[600px]">
	<span class="text-xs text-zinc-500">PUBLICIDAD</span>
  <!--img src="https://tpc.googlesyndication.com/simgad/2771897712811175811"/ alt="Double Box" width="300" height="600" /-->
  <div id="ad-slot5">
	<script defer is:inline>
	  var gptAdSlots5 = [];
	  googletag.cmd.push(function() {
		var mapping5 = googletag.sizeMapping().
		addSize([300, 600]).
		build();
		 var slot5 = googletag.defineSlot("/21799830913/Beat", [300, 600],'ad-slot5').
		 defineSizeMapping(mapping5).
		 addService(googletag.pubads());
		 googletag.pubads().setTargeting("test","responsive");
		 googletag.enableServices();
		 googletag.display('ad-slot5');
		 googletag.pubads().refresh([slot5]);
		 //setInterval(function(){googletag.pubads().refresh([slot5]);}, 30000);
	  });
	</script>
  </div>

  	<!--script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7423640555477330"
     crossorigin="anonymous"></script>
	<ins class="adsbygoogle"
		style="display:block; height:600px;"
		data-ad-client="ca-pub-7423640555477330"
		data-ad-slot="8259040022"
		data-ad-format="vertical"
		data-full-width-responsive="true"></ins>
	<script is:inline>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script-->
</div>
<br>