---
import Player from './Player.astro';
import { Image } from 'astro:assets';
---

<div><Player transition:persist /></div>

<div class="preloader">
    <!--div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div-->
	<div class="loader">
		<ul class="hexagon-container">
		  <li class="hexagon hex_1"></li>
		  <li class="hexagon hex_2"></li>
		  <li class="hexagon hex_3"></li>
		  <li class="hexagon hex_4"></li>
		  <li class="hexagon hex_5"></li>
		  <li class="hexagon hex_6"></li>
		  <li class="hexagon hex_7"></li>
		</ul>
	  </div>
</div>
  <footer class="footer footer-estacion">
    <div class="logo-est-footer"><img src="/img/LOGO_BEAT.svg"/></div>
    <div class="footer-container">
      <!-- Sections Column -->
      <div class="footer-column">
        <h3>Nuestras Secciones</h3>
        <ul class="poppins">
          <li><a href="/news">Beat News</a></li>
          <li><a href="/playlist">Playlist</a></li>
          <li><a href="/podcast/goove-dealers">Podcast</a></li>
          <li><a href="/promociones">Promociones</a></li>
          <li><a href="/nerdosis">Nerdosis</a></li>
          <li><a href="/purple-noise">Purple Noise</a></li>
          <li><a href="/programacion">Programación</a></li>
          <li><a href="/beat-trends">Beat Trends</a></li>
          <li><a href="/beat-ten">Beat Ten</a></li>
          <li><a href="/beat-recordings">Beat Recordings</a></li>
          <li><a href="/lanzamientos">Lanzamientos</a></li>
        </ul>
      </div>

      <!-- Radio Column -->
      <div class="footer-column">
        <h3>Radio en vivo</h3>
        <p class="poppins">Escucha nuestra señal <a class="radio-link cursor-pointer" href="/en-vivo"> aquí.</a></p>
        <div class="radio-logos">
          <a href="/"><div class="radio-link cursor-pointer"><img src="https://storage.googleapis.com/nrm-web/nrm/images/footer/BEAT-2.png" alt="Beat 100.9"></div></a>
        </div>
      </div>

      <!-- Social Media Column -->
      <div class="footer-column redes">
        <h3>Síguenos en redes sociales</h3>
        <div class="social-icons">
          <a target="_blank" href="https://www.facebook.com/beat1009fm" aria-label="Facebook"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg></a>
          <a target="_blank" href="https://x.com/BEATOFICIAL" aria-label="X"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path> <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path> </svg></a>
          <a target="_blank" href="https://www.instagram.com/beat1009fm/" aria-label="Instagram"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg></a>
          <a target="_blank" href="https://www.youtube.com/c/BEAT1009FMOFICIAL" aria-label="YouTube"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/><path d="m10 15 5-3-5-3z"/></svg></a>
          <a target="_blank" href="https://www.tiktok.com/@beat1009fm" aria-label="TikTok"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 12a4 4 0 1 0 4 4V4a5 5 0 0 0 5 5"/></svg></a>
        </div>
        <div class="descarga-apps">
          <h3>Descarga nuestras apps</h3>
          <div class="app-buttons">
            <a target="_blank" href="https://apps.apple.com/mx/app/beat-100-9/id444090239" class="app-store"> <img src="https://storage.googleapis.com/nrm-web/nrm/images/store.png" alt="App Store"/> </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.sferea.beat" class="app-store"> <img src="https://storage.googleapis.com/nrm-web/nrm/images/google.png" alt="Play Store"/> </a>
            <a target="_blank" href="/alexa" class="alexa"> <img src="https://storage.googleapis.com/nrm-web/nrm/images/alexa-blanco.png" alt="Alexa"> </a>
          </div>
        </div>
      </div>

      <!-- Apps Column -->
      <div class="footer-column">

      </div>
    </div>

    <!-- Copyright -->
    <div class="copyright poppins">
      <p>© 2025 Beat. Todos los derechos reservados. El material de este sitio no puede reproducirse, distribuirse, transmitirse, almacenarse en caché ni utilizarse de otro modo, excepto con el permiso previo por escrito de NRM Comunicaciones.</p>
      <p>Beat y Beat 100.9 son marcas registradas con derechos de autor de NRM Comunicaciones.</p>
    </div>
  </footer>

	<div class="footer-2025">        
		<div class="container">
			<div class="logo-section">
				<a target="_blank" href="https://nrm.com.mx/"><img src="https://storage.googleapis.com/nrm-web/nrm/images/footer/NRM-2.png" alt="NRM"></a>
				<a target="_blank" href="https://oyedigital.mx/"><img src="https://storage.googleapis.com/nrm-web/nrm/images/footer/OYE2.png" alt="Oye"></a>
				<a target="_blank" href="https://stereociendigital.mx/"><img src="https://storage.googleapis.com/nrm-web/nrm/images/footer/stereo.png" alt="Stereo Cien"></a>
				<a target="_blank" href="https://sabrositadigital.mx/"><img src="https://storage.googleapis.com/nrm-web/nrm/images/footer/sabrosita.png" alt="Sabrosita"></a>
				<a target="_blank" href="https://enfoquenoticias.com.mx/"><img style="width: 80px;" src="https://storage.googleapis.com/nrm-web/nrm/images/footer/enfoque.png" alt="Enfoque Noticias"></a>
			</div>
			<div class="second-section">
				<div class="links-section">
					<a target="_blank" href="https://nrm.com.mx/contacto/" class="link-ventas">Ventas</a>
					<span class="separator">|</span>
					<a href="/avisodeprivacidad/" class="link-privacy">Aviso de privacidad</a>
					<span class="separator">|</span>
					<a href="/terminosycondiciones/" class="link-terms">Términos y condiciones</a>
				</div>
				<div class="copyrightf">NRM Comunicaciones (C) 2025 Todos los Derechos Reservados</div>
			</div>
		</div>
	</div>

<!--footer>
	<div class="block lg:flex text-white container m-auto">
		<div class="w-full lg:w-1/3">
			<Image class="text-center mx-auto" src="https://storage.googleapis.com/nrm-web/nrm/images/NRM_blanco.png" width="197" height="103" alt="NRM Comunicaciones"/>
			<div class="flex flex-wrap items-center text-xs whitespace-nowrap justify-center mt-3">
				<a class="text-gray-300 hover:text-gray-900" href="/avisodeprivacidad">Aviso de Privacidad</a>
				<a class="ml-3 text-gray-300 hover:text-gray-900" href="/terminosycondiciones">Términos y Condiciones</a>
			</div>
		</div>
		<div class="w-full mt-8 lg:w-1/3 lg:mt-0 text-sm">
			<div class="flex items-center mb-2">
				<i class="bg-[#ffeb3b] p-1 rounded-full mr-3"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg></i>
				<span class="text-left">Prol. Paseo de la Reforma 115 Paseo de las Lomas Santa Fe Álvaro Obregón, 01330</span>
			</div>
			<div class="flex items-center mb-2">
				<i class="bg-[#ffeb3b] p-1 rounded-full mr-3"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg></i>
				<span>+52 55 5258 1266</span>
			</div>
			<div class="flex items-center mb-2">
				<i class="bg-[#ffeb3b] p-1 rounded-full mr-3"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg></i>
				<span>ventas@nrm.com.mx</span>
			</div>
		</div>
		<div class="w-full mt-8 mb-3 lg:w-1/3 lg:mt-0 text-sm text-center">
			<div class="flex justify-around">
				<a class="bg-[#45629f] p-1 rounded-full text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.facebook.com/beat1009fm" target="_blank" aria-label="Facebook"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg></a>
				<a class="bg-black p-1 rounded-full text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://x.com/BEATOFICIAL" target="_blank" aria-label="x"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg></a>
				<a class="bg-gradient-to-r from-[#ff3d3b] to-[#BE2397] p-1 rounded-full text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.instagram.com/beat1009fm/" target="_blank" aria-label="Instagram"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg></a>
				<a class="bg-[#FE2905] p-1 rounded-full text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.youtube.com/c/BEAT1009FMOFICIAL" target="_blank" aria-label="Youtube"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" /><path d="M10 9l5 3l-5 3z" /></svg></a>
				<a class="bg-black p-1 rounded-full text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.tiktok.com/@beat1009fm" target="_blank"aria-label="TikTok" ><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-tiktok" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" /></svg></a>
				<a class="bg-[#8d44f5] p-1 rounded-full text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.twitch.tv/beat1009fm" target="_blank"aria-label="Twitch" ><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitch" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5v11a1 1 0 0 0 1 1h2v4l4 -4h5.584c.266 0 .52 -.105 .707 -.293l2.415 -2.414c.187 -.188 .293 -.442 .293 -.708v-8.585a1 1 0 0 0 -1 -1h-14a1 1 0 0 0 -1 1z" /><path d="M16 8l0 4" /><path d="M12 8l0 4" /></svg></a>



			</div>
			<div class="mt-5">
				Descarga nuestas aplicaciones
				<div class="flex justify-center">
					<a target="_blank" href="https://apps.apple.com/mx/app/beat-100-9/id444090239" aria-label="Descargar la app para iOS"><Image class="sm:max-w-28" src="https://storage.googleapis.com/nrm-web/nrm/images/store.png" width="112" height="35" alt="Abre una nueva ventana"/></a>
					<a target="_blank" href="https://play.google.com/store/apps/details?id=com.sferea.beat&pli=1" aria-label="Descargar la app para Android"><Image class="sm:max-w-28" src="https://storage.googleapis.com/nrm-web/nrm/images/google.png" width="112" height="35" alt="Abre un nueva ventana"/></a>
					<a target="_blank" href="/alexa" aria-label="Usa la skill de Alexa"><Image class="sm:max-w-28" src="https://storage.googleapis.com/nrm-web/nrm/images/alexa.png" width="112" height="35" alt="Abre una nueva ventana"/></a>
				</div>
			</div>


		</div>
	</div>
	<hr class="border-t-[3px]">
	<div class="text-gray-200 text-center text-xs mt-2">
	COPYRIGHT © 2024 Todos los derechos reservados NRM Comunicaciones
	</div>
</footer-->
<style>
.footer {
  background: #111;
  padding: 4rem 0 2rem;
  position: relative;
}
.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  z-index: 1;
  position: relative;
}

.footer-column h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: white;
}

.footer-column ul {
  list-style: none;
  text-align: left;
  padding-left: 40px;
}

.footer-column ul li{
  line-height: 1;
}

.footer-column a {
  color: rgb(193, 193, 193);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 0.9rem;
  font-size: 14px;
  font-weight: lighter;
}

.footer-column a:hover {
  color: var(--amarillo-beat);
}

.footer-column p {
  color: white;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(193, 193, 193);
  font-weight: lighter;
}

.footer-estacion {position: relative;}
.footer-estacion::before {
    content: '';
    background-image: url(/img/LOGO_BEAT.svg);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    position: absolute;
    right: 0;
    width: 65%;
    height: 80%;
    background-position: 0;
    opacity: 0.02;
}
.logo-est-footer{
  position: absolute;
  right: 10px; top: 10px;
  width: 180px;
}
.radio-link {
  color: white;
  font-weight: bold !important;
}

.radio-link:hover {
  text-decoration: underline;
}

.radio-logos {
  display: block;
  gap: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.radio-logos img {
  width: 150px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.radio-logos img:hover {
  filter: grayscale(0);
}

.social-icons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.social-icons a {
  color: #d1d1d1;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--amarillo-beat);
}

.app-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.app-buttons a {
  display: block;
}

.app-buttons img {
  width: 140px;
  height: auto;
  transition: opacity 0.3s ease;
}

/*.app-buttons img:hover {
  opacity: 0.8;
}*/

.descarga-apps {
margin-top: 40px;

}
.copyright {
  max-width: 1200px;
  margin: 3rem auto 0;
  padding: 2rem 1.5rem 0;
  border-top: 1px solid #333;
  text-align: center;
}

.copyright p {
  color: #666;
  font-size: 0.6rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}
	i{
		background-color: white;
		color: black;
	}

	.preloader {z-index:9999; }
	.loader {  position: fixed;  top: 50%;  left: 50%;  width: 160px;  height: 160px;  margin: -80px 0px 0px -80px;  background-color: transparent;  border-radius: 50%;  /*border: 2px solid #e3e4dc;	*/}
	.loader:before {  content: "";  width: 164px;  height: 164px;  display: block;  position: absolute;    border-radius: 50%;  top: -2px;  left: -2px;  box-sizing: border-box;  clip: rect(0px, 35px, 35px, 0px);  z-index: 10;  animation: rotate infinite;  animation-duration: 3s;  animation-timing-function: linear; border: 4px solid var(--amarillo-beat);	}
	.loader:after {  content: "";  width: 164px;  height: 164px;  display: block;  position: absolute;    border-radius: 50%;  top: -2px;  left: -2px;  box-sizing: border-box;  clip: rect(0px, 164px, 150px, 0px);  z-index: 9;  animation: rotate2 3s linear infinite;	    border: 2px solid var(--amarillo-beat); }
	.hexagon-container {  position: relative;  top: 33px;  left: 41px;  border-radius: 50%;	}	
	.hexagon {  position: absolute;  width: 40px;  height: 23px;  background-color: var(--amarillo-beat);	    box-shadow: var(--amarillo-beat) 0px 4px 8px, var(--amarillo-beat) 0px 1px 5px;}
	.hexagon:before {  content: "";  position: absolute;  top: -11px;  left: 0;  width: 0;  height: 0;  border-left: 20px solid transparent;  border-right: 20px solid transparent;  border-bottom: 11.5px solid var(--amarillo-beat);	}
	.hexagon:after {	content: "";  position: absolute;  top: 23px;  left: 0;  width: 0;  height: 0;  border-left: 20px solid transparent;  border-right: 20px solid transparent;  border-top: 11.5px solid var(--amarillo-beat);	}
	.hexagon.hex_1 {  top: 0px;  left: 0px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 0.2142857143s;	}
	.hexagon.hex_2 {  top: 0px;  left: 42px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 0.4285714286s;	}
	.hexagon.hex_3 {  top: 36px;  left: 63px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 0.6428571429s;	}
	.hexagon.hex_4 {  top: 72px;  left: 42px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 0.8571428571s;	}
	.hexagon.hex_5 {  top: 72px;  left: 0px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 1.0714285714s;	}
	.hexagon.hex_6 {  top: 36px;  left: -21px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 1.2857142857s;	}
	.hexagon.hex_7 {  top: 36px;  left: 21px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 1.5s;	}
	@keyframes Animasearch {  0% {    transform: scale(1);    opacity: 1;  }
  							15%, 50% {    transform: scale(0.5);    opacity: 0;  }
  							65% {    transform: scale(1);    opacity: 1;  }
	}
	@keyframes rotate {  0% {    transform: rotate(0);    clip: rect(0px, 35px, 35px, 0px);  }
  						50% {    clip: rect(0px, 40px, 40px, 0px);  }
					  100% {    transform: rotate(360deg);    clip: rect(0px, 35px, 35px, 0px);  }
	}
	@keyframes rotate2 {  0% {    transform: rotate(0deg);    clip: rect(0px, 164px, 150px, 0px);  }
  						50% {    clip: rect(0px, 164px, 0px, 0px);    transform: rotate(360deg);  }
  						100% {    transform: rotate(720deg);    clip: rect(0px, 164px, 150px, 0px);  }
	}
	@keyframes rotate3 {  0% {    transform: rotate(0deg);  }
						  100% {    transform: rotate(360deg);  }
	}

.footer-2025 {
	font-family: "Montserrat";
  font-size: 16px;
    background-color: black;
    color: white;
    padding: 2rem 0;
	padding-bottom: 150px;
}
.footer-2025 .container {
    margin: 0 auto;
    padding: 0 1rem;
	max-width: 1320px;
}

/* Logo section */
.footer-2025 .logo-section, .footer-2025 .second-section {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
	align-items: center;
    gap: 2rem;
    /*margin-bottom: 1.5rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);*/
}
.footer-2025 .second-section{
	align-items: normal;
	margin-top: 1rem;
}
.footer-2025 .logo-section img {
    object-fit: contain;
}

.footer-2025 .links-section {
    display: flex;
    flex-wrap: wrap;
	align-items: center;
    justify-content: center;
    gap: 10px;
	line-height: 1;
    margin-bottom: 1rem;
}
.footer-2025 .link-ventas {
    color: #FCD34D;
    text-decoration: none;
}
.footer-2025 .link-privacy,
.footer-2025 .link-terms {
    color: #60A5FA;
    text-decoration: none;
}
.footer-2025 .link-ventas:hover,
.footer-2025 .link-privacy:hover,
.footer-2025 .link-terms:hover {
  text-decoration: underline;
	color: white;
}
.footer-2025 .separator {
    color: #6B7280;
}

/* Copyright */
.footer-2025 .copyrightf {
    text-align: center;
    color: #9CA3AF;
}

/* Responsive design */
@media (min-width: 1000px) {
	.footer-2025 .logo-section img {
   		max-width: 110px;
	}
}
@media (max-width: 768px) {
  .footer-2025 .logo-section {
    gap: 1.5rem;
  }
  .footer-2025 .second-section {
    flex-direction: column;
		gap:0;
    align-items: center;
    text-align: center;
  }
  .footer-container{
    grid-template-columns: repeat(1, 45%);
    margin-top: 20px;
  }
  .footer-container .redes{
    grid-column: span 2/2;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .footer-2025 .separator {
   	display: none;
  }
}
</style>	
