---
const currentPath = Astro.url.pathname;
---
<div class="menutres flex w-full h16 b-transparent items-center justify-between p-2 relative poppins">
    <div class="logo main-logo pl-[25px]"> <a href="/"><img src="/img/LOGO_BEAT.svg" alt="Logo Beat"/></a></div>
    <div id="container" class="links-menu flex items-center m-auto text-white order-3 lg:order-2 justify-center">
      <nav>
        <ul>
            <li class={`menu-section${currentPath.startsWith('/news') ? ' active' : ''}`}><a href="/news">Beat News</a></li>
            <li class={currentPath.startsWith('/beatzilla') ? 'active' : ''}><a href="/beatzilla">Beatzilla</a></li>  
            <li class={currentPath.startsWith('/purple-noise') ? 'active' : ''}><a href="/purple-noise">Purple Noise</a></li>
            <li class={`dd-menu${currentPath.startsWith('/podcast') ? ' active' : ''}`}>Podcast
            <!-- First Tier Drop Down -->
            <ul>
                <li class={currentPath.startsWith('/podcast/groove-dealers') ? 'active' : ''}><a href="/podcast/groove-dealers">Groove Dealers</a></li>
                <!--li><a href="/podcast/respira">Respira</a></li-->
                <li class={currentPath.startsWith('/podcast/expedientes-secretos') ? 'active' : ''}><a href="/podcast/expedientes-secretos">Expedientes Secretos</a></li>
                <!--li><a href="/podcast/nerdosis">Nerdosis</a></li>
                <li><a href="/podcast/dos-equis-mixx">Dos Equis Mixx</a></li-->
            </ul>        
            </li>
            <li class={currentPath.startsWith('/promociones') ? 'active' : ''}><a href="/promociones">Promociones</a></li>
            <!--li class={`dd-menu${currentPath.startsWith('/beat-ten') || currentPath.startsWith('/lanzamientos') ? ' active' : ''}`}>Video
              <ul>
                  <li class={currentPath.startsWith('/beat-ten') ? 'active' : ''}><a href="/beat-ten">Beat Ten</a></li>
                  <li class={currentPath.startsWith('/lanzamientos') ? 'active' : ''}><a href="/lanzamientos">Lanzamientos</a></li>
              </ul>
            </li-->
            <li class={currentPath.startsWith('/beat-ten') ? 'active' : ''}><a href="/beat-ten">Beat Ten</a></li>
            <li class={currentPath.startsWith('/lanzamientos') ? 'active' : ''}><a href="/lanzamientos">Lanzamientos</a></li>        
            <!--li class="dd-menu">Videocast
              <ul>
                  <li><a href="/nerdosis">Nerdosis</a></li>
                  <li><a href="/beat-trends">Beat Trends</a></li>
                  <li><a href="#">Tutorials</a> SECOND AND THIRD DROP DOWN
                  <ul>
                      <li><a href="#">HTML/CSS</a></li>
                      <li><a href="#">jQuery</a></li>
                      <li><a href="#">Other</a>
                          <ul>
                              <li><a href="#">Stuff</a></li>
                              <li><a href="#">Things</a></li>
                              <li><a href="#">Other Stuff</a></li>
                          </ul>
                      </li>
                  </ul>
                  </li-->
              <!--/ul>
            </li-->
            <li class="radio-link">
              <a  href="/en-vivo" >
                <div class="flex flex-wrap items-center relative top-[3px] gap-2 font-bold text-[17px] uppercase text-[#FFAA1F]">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4.9 19.1C1 15.2 1 8.8 4.9 4.9"/><path d="M7.8 16.2c-2.3-2.3-2.3-6.1 0-8.5"/><circle cx="12" cy="12" r="2"/><path d="M16.2 7.8c2.3 2.4 2.3 6.2 0 8.5"/><path d="M19.1 4.9C23 8.8 23 15.1 19.1 19"/></svg>
                  <span>Radio</span>
                </div>
              </a>
            </li>
        </ul>
      </nav>
    </div>
    <!--div class="menu-radio order-2 lg:order-3">
      <nav>
        <ul>
          <li class="dd-menu-2 pr-[25px]">
            <span class="live-icon"></span>
            Radio en Vivo 100.1 FM
            <button class="radio-button pr-[15px] radio-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4.9 19.1C1 15.2 1 8.8 4.9 4.9"/><path d="M7.8 16.2c-2.3-2.3-2.3-6.1 0-8.5"/><circle cx="12" cy="12" r="2"/><path d="M16.2 7.8c2.3 2.4 2.3 6.2 0 8.5"/><path d="M19.1 4.9C23 8.8 23 15.1 19.1 19"/></svg>
            </button>
            <ul>
              <li><a href="/en-vivo">En Vivo</a></li>
              <li><a href="/programacion">Programación</a></li>
              <li><a href="/playlist">Playlist</a></li>
              <li><a href="/beat-recordings">Beat Recordings</a></li>
            </ul>  
          </li>
        </ul>
      </nav>
    </div-->


    <div class="menu-mobile hidden items-center gap-4 text-white order-3 lg:order-2"> 
       <div class="link-menu"> <a href="/news">BeatNews</a></div>
       <div class="link-menu"> <a href="/beatzilla">Beatzilla</a></div>
       <div class="link-menu"> <a href="/purple-noise">Purple Noise</a></div>
       <div class="link-menu"> <a href="/podcast/groove-dealers">Groove Dealers</a></div>
       <div class="link-menu"> <a href="/podcast/expedientes-secretos">Expedientes Secretos</a></div>
       <div class="link-menu"> <a href="/promociones">Promociones</a></div>
       <div class="link-menu"> <a href="/beat-ten">Beat Ten</a></div>
       <div class="link-menu"> <a href="/lanzamientos">Lanzamientos</a></div>
       <!--div class="link-menu"> <a href="/nerdosis">Nerdosis</a></div>
       <div class="link-menu"> <a href="/beat-trends">Beat Trends</a></div-->

    </div>
</div>
<div class="opacity-back"></div>
<style>
.radio-link{
  position: relative;
}
.radio-link::before{
  content: '';
  display: inline-block;
  position: absolute;
  top:0;
  width: 100%;
  height: 60px;
  background-color: #1d1d1d;
}

@media (max-width: 1072px) {
  .main-logo{
    width: 70%;
    transition: all 0.5s;
  }
  .main-logo.compress-logo{
    width: 50%;
    transition: all 0.5s;
  }
.menu-mobile{
  display: flex !important;
  margin-right: 15px;
}
.menu-mobile:after { content:  'ᐅ'; font-size: 18px; position: absolute; top: 33%; right: 4px;}
.links-menu{
  display: none !important;
}
.menutres {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}
.menutres >{
  flex: 1 0 50%;
}
.menutres:first-child{
  flex: 0 1 50%;
}
  .logo{
    justify-content: left;
    padding-left: 0 !important;
  }
  button{
    justify-content: right;
  }
}

.menu-mobile{
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.menu-mobile::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



/*nav::before {content:''; width: 100%; height: 100%; position: absolute; background:black; top:0; z-index: -1;}*/
/*.link-menu{height: 39px;}*/
.link-menu a {color:white;  font-size: 14px;}
/*.main-logo {  width: 100px; height: 100%;}
.main-logo img{ width: 100%; height: auto;}*/
button.radio-button {    display: flex;    align-items: center;    gap: 7px;      font-size: 15px;  color: #ffaa1f;}
.opacity-back {position: absolute;    top: 0;    left: 0;    backdrop-filter: brightness(60%) blur(16px);    width: 100%;    height: 100%;    z-index: -1;  }

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
  overflow: visible;
}
	
nav ul li {
	display:inline-block;
}

nav a, .dd-menu, .dd-menu-2 {
	display:block;
	padding:0 7px;	
	color:#FFF;
	font-size:14px;
	text-decoration:none;
  position: relative;
  line-height: 1.2;
  overflow: visible;
  margin-bottom: 12px;
}
.dd-menu-2{
  color: var(--amarillo-beat);
  display: flex !important;
  align-items: center;
}

nav a:hover, dd-menu:hover { 
	background-color: #262626; 
}
nav a:checked, dd-menu:checked { 
	color: var(--amarillo-beat); 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
  backdrop-filter: brightness(60%) blur(16px);
  top: 20px;
  left: 0;
  overflow: visible;
  z-index: 2;
}
nav ul .dd-menu-2 ul {
  top: 30px;
  right: 0;
  left: auto;
  justify-content: space-around;
  justify-items: center;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}
nav ul li.dd-menu-2:hover > ul {
	display:flex;
  justify-content: space-around;
  justify-items: center;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:150px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul .dd-menu-2 ul li {
  text-align: center;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after, .dd-menu:after, .dd-menu-2:after { content:  ' ▼'; font-size: 10px;}
li > a:only-child:after, li > .dd-menu:only-child:after { content: ''; }

.live-icon {
    display: inline-block;
    position: relative;
    top: calc(50% - 5px);
    background-color: var(--amarillo-beat);
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: 1;
}
.live-icon:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(255, 170, 31, 0.6);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: live 2s ease-in-out infinite;
    animation: live 2s ease-in-out infinite;
    z-index: -1;
}
@keyframes live {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(3.5, 3.5);
    background-color: rgba(255, 170, 31, 0);
  }
}

.active > a,
li.active > div,
li.active > span {
  background: #ffaa1d;
    color: black;
    transition: all 0.5s;
}
.active {
  font-weight: bold;
  transition: all 0.5s;
}

</style>