---
---
<div class="billboard my-9 hidden md:table mx-auto text-center w-[320px] md:w-[728px] lg:[970px] !h-[50px] lg:h-[90px]">
	<span class="text-xs text-zinc-500">PUBLICIDAD</span>
   <!--img src="https://contenido.beatdigital.mx/wp-content/uploads/2024/07/bilboard.jpg" alt="billboard" width="970" height="250"-->
   <div id="ad-slot3">
	<script defer is:inline>
	  var gptAdSlots3 = [];
	  googletag.cmd.push(function() {
 	    var mapping3 = googletag.sizeMapping().
	    addSize([728, 90]).
	    build(); //970x250
	    var slot3 = googletag.defineSlot("/21799830913/Beat", [728, 90],'ad-slot3').
	    defineSizeMapping(mapping3).
	    addService(googletag.pubads());
	    googletag.pubads().setTargeting("test","responsive");
	    googletag.enableServices();
	    googletag.display('ad-slot3');
	    googletag.pubads().refresh([slot3]);
	    //setInterval(function(){googletag.pubads().refresh([slot3]);}, 180000);
	  });
	</script>
   </div>

	<!--script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7423640555477330"
		crossorigin="anonymous"></script>
	<ins class="adsbygoogle"
		style="display:block; height:50px !important;"
		data-ad-client="ca-pub-7423640555477330"
		data-ad-slot="4417666234"
		data-ad-format="rectangle"
		data-full-width-responsive="true"></ins>
	<script is:inline>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script-->

</div>